<div class="col-12">
    <div class="card">
      <div class="card-body col-12">
        <input type="text" class="w-100" #input (keyup)="buscarMaquina01(input.value)" type="text" class="form-control"  placeholder="Buscar">
        <!-- <input #input (keyup)="buscarUsuario(input.value)" type="text" class="form-control" placeholder="Buscaré"> -->
      </div>
    </div>
  </div>
  <div class="col-6">
    <h3 class="card-title"> Usuarios registrados (<small>{{totalRegistros}}</small>)</h3>
  </div>
  
  <h1>{{titulo}}</h1>
  
  <div class="col-12">
      <div class="card-body d-flex">
          <button 
            class="btn btn-outline-success ml-auto" style="width: 100px;" [routerLink]="['/dashboard/usuario/form']">Agregar
          </button>
      </div>
  </div>
  
  
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id Usuario</th>
        <th scope="col">Nombre Completo</th>
        <th scope="col">Cedula</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th scope="col">Direccion</th>
        <th scope="col">Contraseña</th>
        <th scope="col" style="font-size: 18px; font-weight: bold;">Edit/Del</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let maquina01 of maquina01s">
        <th scope="row" style="font-weight: bold;">{{maquina01.id_maquina_01}}</th>
        <td style="font-weight: bold;" >{{maquina01.nombre_maquina}}</td>
        <td style="font-weight: bold;" >{{maquina01.fecha_informe}}</td>
        <td style="font-weight: bold;" >{{maquina01.contador_in}}</td>
        <td style="font-weight: bold;" >{{maquina01.contador_out}}</td>
        <td style="font-weight: bold;" >{{maquina01.dif_contador}}</td>
        <td style="font-weight: bold;" >{{maquina01.valor_pesos}}</td>
        <td style="font-weight: bold;" >{{maquina01.descuento}}</td>
        <td style="font-weight: bold;" >{{maquina01.total_1}}</td>
        <td style="font-weight: bold;" >{{maquina01.total_2}}</td>
        <td>
          <!-- <button type="button" class="btn btn-success" [routerLink]="['/dashboard/usuario/form']" style="margin-right: 5px;"><i class="fa fa-plus"></i></button> -->
          <button type="button" class="btn btn-primary" [routerLink]="['/dashboard/usuario/form',maquina01.id_maquina_01]" style="margin-right: 5px;"><i class="fa fa-edit"></i></button>
          <button type="button" class="btn btn-danger" (click)="delete(maquina01)" style="margin-right: 5px;"><i class="fa fa-trash"></i></button>
        </td>      
      </tr>
    </tbody>
  </table>
